<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
<form>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="12" size-lg="4">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)] = "selectedName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input [(ngModel)] = "selectedDesc" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Horas</ion-label>
        <!--  <ion-input type="number" [(ngModel)] = "selectedHora"></ion-input> -->
        <ion-select>
          <ion-select-option *ngFor="let number of [1,2,3,4,5,6]" [value]="number" required>{{number}}</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-col>
      <ion-col size-md="12" size-lg="auto">
        <ion-datetime #datetime
        [showDefaultButtons]="true"
        locale="es-MX"
        hour-cycle="h23" 
        minuteValues="0"
        [(ngModel)] = "selectedDate"
        (ionChange) = "confirm()"
        >
        <ion-buttons slot="buttons">
          <ion-button color="primary" (click)="datetime.confirm()">Guardar</ion-button>
        </ion-buttons>
        </ion-datetime>
        </ion-col>
    </ion-row>
  </ion-grid>
</form>
  <p>
    date selected {{datetime.value}}
  </p>
  
</ion-content>
