<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let cita of citas" (click)="log()">
      <ion-card-header>
        <ion-card-title>{{cita.nombre}}, {{cita.fecha | date:"short"}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{cita.descripcion}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
